/* background color for first div: 'I'm Dino. A programmer' */
/* Color pallete https://colorhunt.co/palette/fefbe9e1eeddf0a04b183a1d */
div{
    background-color: #FEFBE9;
}

/* 
    Uklanjanje margina na tagovima body i h1
    Za div ne treba
*/
body{
    margin: 0;
    /*
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    */
}
h1{
    /*Ne treba mj. jed. nakon nule */
    margin-top: 0;
    /* Nepotrebno je
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px; 
    */
}